-- <%= relationship.table_name %>.<%= relationship.foreign_key %> -> <%= relationship.reference_to %>.<%= relationship.reference_key %> --
ALTER TABLE <%= relationship.table_name %> 
  ADD CONSTRAINT <%= relationship.type.to_s %>_<%=  relationship.reference_to %> FOREIGN KEY (<%= relationship.foreign_key %>)
  REFERENCES <%= relationship.reference_to %>(<%= relationship.reference_key %>) <%= relationship.rules %>;
-- 
